body {
background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
        background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

form {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
 box-shadow: 0px 0px 10px rgb(228, 218, 218);}

form label {
    display: block;
    margin-bottom: 10px;
     color: #edecec;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
       background-color: #638bb6;
}

h2 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
